<!DOCTYPE html>
      <html>
        <head>
          <title>Bowling Scorecard</title>
          <link rel="stylesheet" href="./style.css">
        </head>
        <body>
          <table style="width:35%">
            <tr>
              <div id="frame-header"><th>Frame</th></div>
              <div id="roll-header"><th>Roll</th></div>
              <div id="Knocked-pins-header"><th>Knocked-pins</th></div>
              <div id="total-score-header"><th>Total-score</th></div>
              <div id="notes-header="><th>Notes</th></div>
            </tr>
          </table>
        </body>
      </html>
