<!DOCTYPE html>
      <html>
        <head>
          <title>Bowling Scorecard</title>
          <link rel="stylesheet" href="./style.css">
        </head>
        <body>
          <table style="width:35%">
            <tr>
              <span id="frame"><th>Frame</th></span>
              <span id="roll"><th>Roll</th></span>
              <span id="Knocked-pins"><th>Knocked-pins</th></span>
              <span id="total-score"><th>Total-score</th></span>
              <span id="notes"><th>Notes</th></span>
            </tr>
          </table>
          <!-- <script src="src/Thermostat.js"></script>
          <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
          <script src="interface.js"></script>
          <script src="src/weather.js">
          </script> -->
        </body>
      </html>
